.result {
  height: 60px;
  background-color: orange;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;
}

.calculator-body {
  max-width: 400px;
  margin: auto;
  background-color: brown;
}

.button {
  display: block;
  background-color: green;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: green;
}